@font-face {
    font-family: nasin-nanpa;
    src: url(assets/nasin-nanpa-4.0.1.otf) format("opentype");
}

@font-face {
    font-family: fredoka;
    src: url(assets/Fredoka-VariableFont_wdth,wght.ttf);
}

.toki {
    font-family: nasin-nanpa;
    font-size: 2em;
}

body{
    font-family: fredoka;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

* {
    margin: 1em;
}

